<configuration>
    <appender name="UI" class="com.cipley.submission.redis.logging.UILogAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level - %msg</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="UI" />
    </root>

    <logger name="io.lettuce" level="DEBUG" />
    <logger name="io.netty" level="WARN" />
</configuration>